<div class="container-fluid">
  <div class="row">
    <h1 class="m-auto">Editing Opinion</h1>
  </div>
  <div class="row">
    <div class="m-auto">
      <%= render 'form', opinion: @opinion%>
    </div>
  </div>

  <div class="row">
    <div class="m-auto">
    </div>
  </div>
</div>


