<div class="container-fluid">
  <div class="row mt-2">

    <!--PEOPLE-->
    <div class="col-lg-9 col-md-12 col-sm-12">

      <!--MENU GOTO WHITE-->
      <%= display_goto_menu %>

      <!--TWEETS-->
      <div class="row mt-2">
        <div class="col-12">
          <%= render 'talk', opinion: @opinion %>
        </div>
      </div>
      <div class="row mt-4">
        <div class= "col-12">   
          <%= display_userlist %>      
        </div>
      </div>
    </div>

    <!--FOLLOWED BY-->
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="row p-2">
        <p class="m-auto">WHO TO FOLLOW</p>
      </div>
      <%= whotofollow %>
    </div>
  </div>
</div>