/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "reset";
@import "Login";
@import "fonts";
@import "users";

body{
  font-family: 'YuFont',Arial, Helvetica, sans-serif;
  font-size: normal;
  font-weight: bold;
  background-color: #F4F5F7;
}

.left-menu{
  background-color: #213246;
  font-size: small;
  min-height: 100vh;
  .img{
      width: 60px;
      height: 60px;
      object-fit: contain;
  }
  p{
    color: #eeeeee;
  }
  a{
    text-decoration: none;
  }

  .btn-left{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  .btn-left:hover{
    background-color: $blue;
  }
}

.bgc-bluer {
  background-color: #1B2A3D;
  height: 30vh;
  padding-left: 20px;
  padding-right: 20px;
}


.nav{
  background-color: #52A3E2;
  
  .icon{
    width: 60px;
    height: 60px;
    padding: 10px;
    object-fit: contain;
  }
  .fill-blue{
    color: #376F94;
  }
  .fill-blue:hover{
    color: #f5f5f5;
  }
}

.fill-gray{
  color: rgb(199, 195, 187);
}

.fill-gray:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer{
  background-color: #191919;
  .title{
    color: white;
    font-size: 30px;
  }
  .subtitle{
    color: gray;
    font-size: small;
  }

  .images{
    max-width: 100px;
    min-width: 50px;
  }
}
