body{
  font-family: 'YuFont',Arial, Helvetica, sans-serif;
  font-size: normal;
  font-weight: bold;
  background-color: #F4F5F7;
}

p {
  display:flex;
  align-items: center;
}

.link-blue{
  color: rgb(29, 161, 242);
}

.btn-blue {
  color: white;
  border-radius: 10%;
  background-color: #1A91DA;
  border: none;
  font-style: bold;
  width: 100%;
  border-radius: 9999px;
  min-height: 50px;
}

input[type=text] {
  color: black;
  background-color: #E8F0FE;
  border: none;
  border-bottom: thick;
  width: 100%;
  margin-bottom: 30px;
  min-height: 40px;
}

input[type=password] {
  color: black;
  background-color: #E8F0FE;
  border: none;
  border-bottom: thick;
  width: 100%;
  margin-bottom: 10px;
  min-height: 40px;
}

.font-lg {
  font-size: 30px;
}

.font-md {
  font-size: 20px;
}

.font-ch {
  font-size: 12px;
}


.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.bgc-blue{
  background-color: #52A3E2;
}

.bgc-header{
  background-color: #498ca8;
  min-height: 30vh;
  color: white;
  font-size: 3em;
  text-align: center;
}

.bgc-yellow{
  background-color: yellow;
}
