$blue : rgb(35, 110, 172);

.portada {
  height: 40vh;
  width: 100%;
  margin: 0;
}

.cover {
  object-fit: cover;
  object-position: center center;
  max-height: 40vh;
  margin: 0;
  width: 100%;
}

.goto {
  display: flex;
  flex-direction: row;
  border-bottom: medium solid rgba(35, 110, 172, 0);

  .link {
    padding: 20px;
    color: gray;
  }

  .link:hover {
    color: black;
    text-decoration: none;
  }

  a {
    height: 100%;
    border-bottom: medium solid rgba(35, 110, 172, 0);
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    border-bottom: medium solid $blue;
  }
}

.right {
  .fill-white {
    color: gray;
  }

  .fill-white:hover {
    color: $blue;
  }
}

.talk {
  background-color: white;
  margin: 3em;

  .image {
    width: 50px;
    height: 50px;
  }

  .user {
    font-size: 25px;
    font-weight: bold;
    cursor: default;
  }

  .opinion {
    font-size: 16px;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    cursor: default;
  }
}

textarea {
  width: 100%;
  border-color: rgb(197, 194, 194);
  padding: 10px;
}
