  <div class="center m-auto pb-5">
    <%= link_to image_tag('talky.png', alt: 'Logo', class: 'w-50 m-4 p-4'), users_path %>
    <h1 class="font-lg">Log in to Talkey</h1>
    <%= render 'partial'%>
    <%= link_to 'Create a new account', new_user_path %>
  </div>
